<footer class="footer">
   <section id="contact" class="contact">
      <div class="container">
         <div class="contact__block">
            <div class="contact__item">
               <div class="contact__item-pic">
                  <i class="icon-address icon"></i>
               </div>
               <div class="contact__item-text">Адрес: МО: д. Еремино,<br> д. 100, офис 11.</div>
            </div>
            <div class="contact__item">
               <div class="contact__item-pic">
                  <i class="icon-phone icon"></i>
               </div>
               <div class="contact__item-text">
                  <a href="tel:+74996476707">+ 7 (499) 647-67-07</a>
               </div>
            </div>
            <div class="contact__item">
               <div class="contact__item-pic">
                  <i class="icon-mail icon"></i>
               </div>
               <div class="contact__item-text">
                  <a href="mailto:info@tektonika-psk.ru">info@tektonika-psk.ru</a>
               </div>
            </div>
            <div class="contact__item">
               <div class="contact__item-pic">
                  <i class="icon-people icon"></i>
               </div>
               <div class="contact__item-text">Вы можете обратиться к нам по телефону, по электронной почте,
                  договориться о встрече в нашем офисе или на производстве. Будем рады помочь вам и ответить на все ваши
                  вопросы.
               </div>
            </div>
            <div class="contact__item">
               <div class="contact__item-pic">
                  <i class="icon-time icon"></i>
               </div>
               <div class="contact__item-text">Пожалуйста, предварительно резервируйте время встречи в офисе по
                  телефону.
               </div>
            </div>
         </div>
         <h2 class="contact__title section-title">Карта проезда</h2>
      </div>
      <div class="contact__map">
         <div class="contact__info">
            <a class="logo-black logo-black--contact" href="#">
               <img src="img/logo-black.svg" alt="Тектоника">
            </a>
            <div class="contact__info-descr">
               <div class="contact__info-field">
                  <div class="contact__info-label">Адрес:</div>
                  <div class="contact__info-text">Московская обл., дер. Еремино, д. 100, офис 11</div>
               </div>
               <div class="contact__info-field">
                  <div class="contact__info-label">Схема проезда: <a href="#">скачать в Png,</a> или <a href="#">формате
                     Pdf</a></div>
               </div>
               <div class="contact__info-field">
                  <div class="contact__info-label">График работы:</div>
                  <div class="contact__info-text">пн-сб: с 9:00 до 19:00, сб: с 10:00 до 17:00</div>
               </div>
               <div class="contact__info-field">
                  <div class="contact__info-label">Координаты:</div>
                  <div class="contact__info-text">55.73783478, 38.07355283</div>
               </div>
            </div>
         </div>
         <div id="map" class="contact__map-body"></div>
      </div>
   </section>

   <section class="footer__bottom">
      <div class="container">
         <div class="footer__nav">
            <a href="#" class="footer__nav-link">Главная</a>
            <a href="#" class="footer__nav-link">О нас</a>
            <a href="#" class="footer__nav-link">Направления</a>
            <a href="#" class="footer__nav-link">Продукция</a>
            <a href="#" class="footer__nav-link">Технологии</a>
            <a href="#" class="footer__nav-link">Портфолио</a>
            <a href="#" class="footer__nav-link">А что если?</a>
            <a href="#" class="footer__nav-link">Цены</a>
            <a href="#" class="footer__nav-link">Контакты</a>
         </div>
         <a href="#" class="footer__policy">Политика<br> конфиденциальности</a>
         <a href="#" class="logo-mini--footer logo-mini">
            <img src="img/logo-mini.svg" alt="Тектоника">
         </a>
         <span class="footer__copy">&copy;2016 Тектоника</span>
      </div>
   </section>

</footer>

