<footer class="footer">
   <section class="contact">
   <div class="container">
      <div class="contact__block">
         <div class="contact__item">
            <div class="contact__item-pic">
               <i class="icon-address icon"></i>
            </div>
            <div class="contact__item-text">Адрес: МО: д. Еремино,<br> д. 100, офис 11.</div>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic">
               <i class="icon-phone icon"></i>
            </div>
            <div class="contact__item-text">
               <a href="tel:+74996476707">+ 7 (499) 647-67-07</a>
            </div>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic">
               <i class="icon-mail icon"></i>
            </div>
            <div class="contact__item-text">
               <a href="mailto:info@tektonika-psk.ru">info@tektonika-psk.ru</a>
            </div>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic">
               <i class="icon-people icon"></i>
            </div>
            <div class="contact__item-text">Вы можете обратиться к нам по телефону, по электронной почте, договориться о встрече в нашем офисе или на производстве. Будем рады помочь вам и ответить на все ваши вопросы.</div>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic">
               <i class="icon-time icon"></i>
            </div>
            <div class="contact__item-text">Пожалуйста, предварительно резервируйте время встречи в офисе по телефону.</div>
         </div>
      </div>
      <h2 class="contact__title section-title">Карта проезда</h2>
   </div>
   <div id="map" class="contact__map"></div>
   </section>
</footer>

<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"> </script>