<header class="header">
   <div class="container">
      <a class="logo logo--header" href="#">
         <img src="img/logo.svg" alt="Тектоника">
      </a>
      <div class="contact contact--header">
         <a href="#" class="contact__btn btn">Перезвоните мне</a>
         <a href="#" class="contact__link"><i class="contact__icon icon-mail"></i></a>
         <a href="#" class="contact__link"><i class="contact__icon icon-phone"></i></a>
         <a href="tel:74996476707" class="contact__phone">7 (499) 647-67-07</a>
      </div>
      <nav class="nav nav--header">
         <a href="#">О нас</a>
         <a href="#">Направления</a>
         <a href="#">Продукция</a>
         <a href="#">Технологии</a>
         <a href="#">Портфолио</a>
         <a href="#">Цены</a>
         <a href="#">Контакты</a>
      </nav>
   </div>
</header>