<header class="header js-header">
   <div class="container">
      <a class="logo logo--header" href="#">
         <img src="img/logo.svg" alt="Тектоника">
      </a>
      <div class="header__contacts">
         <div class="connect connect--header">
            <a href="mailto:info@tektonika-psk.ru" class="connect__link"><i class="connect__icon icon-mail"></i></a>
            <a href="tel:74996476707" class="connect__link"><i class="connect__icon icon-phone"></i></a>
            <a href="tel:74996476707" class="connect__phone">7 (499) 647-67-07</a>
         </div>
      <div class="call-me call-me--header">
         <a href="#" class="call-me__btn btn js-call-btn">Перезвоните мне</a>
            <div class="call-me__popup js-call-popup">
               <div class="call-me__popup-inner">
                  <div class="call-me__popup-title">Мы Вам перезвоним:</div>
                  <form class="call-me__popup-form" action="#">
                     <div class="call-me__popup-field">
                        <input type="name" name="name" required placeholder="Имя">
                     </div>
                     <div class="call-me__popup-field">
                        <input type="text" name="telephone" required placeholder="Номер телефона">
                     </div>
                     <button class="call-me__popup-btn btn" type="submit">Перезвонить</button>
                  </form>
                  <div class="call-me__popup-close icon-close js-call-popup-close"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="hamburger hamburger_spin js-hamburger">
         <div class="hamburger__box">
            <div class="hamburger__inner"></div>
         </div>
      </div>
      <nav class="nav nav--header js-nav">
         <a href="#about">О нас</a>
         <a href="#direct">Направления</a>
         <a href ="javascript:void(0);">Продукция</a>
         <a href="#tech">Технологии</a>
         <a href="#portfolio">Портфолио</a>
         <a href="#price">Цены</a>
         <a href="#contact">Контакты</a>
      </nav>
   </div>
</header>